# Dependencies
node_modules/

# Production build
dist/
*.local

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db
